:root {
  --offwhite : #F2F5F9;
  --white: #FFFFFF;
  --gray: #677489;
  --black : #111729;

}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
  background-color: var(--offwhite);
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

h1 {
  font-size: 24px;
  letter-spacing: -0.08rem;
  font-weight: 500;
  font-family: 'Poppins';
  color: var(--black);

}
p {
  font-size: 16px ;
  font-family: 'Lato';
  font-weight: 400;
  color: var(--gray);

}


.card-wrapper {
  width: 418px;
  height: fit-content;
  border-radius: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: var(--white);
}

.card-image-box {
  position: relative;
  height: 280px;


  background-image: url(./hero-image-business-card.png);
  background-size: contain;
}

.overlay {
  position: absolute;
  bottom: -1px;
}

.profile {
  display: flex;
  margin: 0 32px;
}

.content {
  margin: 28px 32px;

}

.profile-image {
  width: 36px;
  height: 36px;
  background-image: url(./avatar-image-business-card.png);
  background-size: contain;
  border-radius: 50%;
}
.profile-content {
  margin-left: 14px;
}

.profile-content h5 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'lato';
  color: var(--black);
}

.profile-location {
  font-size: 12px;
  font-weight:500;
  font-family: 'lato';
  color: var(--gray);
}

